#container {
	width:100%; /*The container will try to fill the entire browser window width*/
	max-width:1200px; /*the maximum width the container will grow to*/
	/*height:960px;*/
	margin:0px auto; /*This line of code is the key.  0px margin top and bottom, auto margin left and right to center*/
	background-color:rgb(225,225,225);
	padding:0px;
	box-sizing:border-box;/*Makes it so that padding does not add to a box's total width*/

  	display: grid;
  	grid-template-columns: 20% 20% 20% 20% 20%;
 		/* grid-template-columns: repeat(8, 12.5%);*/
  	/*grid-template-rows: 20% 20% 20% 20% 20%;*/
}

.fivebox{
	height: 300px;
	background-color:rgb(200,200,200);
	margin:10px;
	padding:20px;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
	grid-column-end: span 5;
}

.fourbox{
	height: 300px;
	background-color:rgb(200,200,200);
	margin:10px;
	padding:20px;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
	grid-column-end: span 4;
}

.threebox{
	height: 300px;
	background-color:rgb(200,200,200);
	margin:10px;
	padding:20px;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
	grid-column-end: span 3;
}

.twobox{
	height: 300px;
	background-color:rgb(200,200,200);
	margin:10px;
	padding:20px;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
	grid-column-end: span 2;
}

.onebox{
	height: 300px;
	background-color:rgb(200,200,200);
	margin:10px;
	padding:20px;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
	grid-column-end: span 1;
}

.doublesquarebox{
	height: 620px;
	background-color:rgb(200,200,200);
	margin:10px;
	padding:20px;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
	grid-column-end: span 2;
	grid-row-end: span 2;
}

h2{
	text-align: center;
	font-family: 'Permanent Marker', cursive;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav{
	/* position: fixed; */
	max-width:1200px;
	width:100%;
	margin:0px auto;
	padding-top: 10px;
	padding-bottom: 30px;
	font-size: 1.25em;
	font-family: 'Questrial', sans-serif;
}

.menu{
	display: flex;
	justify-content: space-between;
}

.title{
	font-family: 'Permanent Marker', cursive;
	font-size: 1.75em;
}

.link{
	padding-top: 20px;
}

hr{
  border-top: 2px solid black;
}

body{
	font-family: 'Questrial', sans-serif;
	background-color: white;
}
