#container {
	width:100%;
	max-width:1200px;
	margin:0px auto; /*This line of code is the key.  0px margin top and bottom, auto margin left and right to center*/
	/* background-color:rgb(225,225,225); */
	padding:0px;
	box-sizing:border-box;/*Makes it so that padding does not add to a box's total width*/

  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.bin{
	position: relative;
	height: inherit;
	box-sizing:border-box;
	text-align:center;
}

.fivebox{
	margin:5px;
	height: 300px;
	grid-column-end: span 5;
}

.fourbox{
	margin:5px;
	height: 300px;
	grid-column-end: span 4;
}

.threebox{
	margin:5px;
	height: 300px;
	grid-column-end: span 3;
}

.twobox{
	margin:5px;
	height: 300px;
	grid-column-end: span 2;
}

.onebox{
	margin:5px;
	height: 300px;
	grid-column-end: span 1;
}

.doublesquarebox{
	margin:5px;
	height: 610px;
	grid-column-end: span 2;
	grid-row-end: span 2;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: coral;
}

.fivebox:hover .overlay {
	opacity: 0.95;
}
.fourbox:hover .overlay {
	opacity: 0.95;
}
.threebox:hover .overlay {
	opacity: 0.95;
}
.twobox:hover .overlay {
	opacity: 0.95;
}
.onebox:hover .overlay {
	opacity: 0.95;
}
.doublesquarebox:hover .overlay {
	opacity: 0.95;
}


.text {
  color: white;
	font-family: 'Questrial', sans-serif;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.nav{
	/* position: fixed; */
	max-width:1200px;
	width:100%;
	margin:0px auto;
	padding-top: 10px;
	padding-bottom: 30px;
	font-size: 1.25em;
	font-family: 'Questrial', sans-serif;
}

.footer{
	/* position: fixed; */
	max-width:1200px;
	width:100%;
	margin:0px auto;
	padding-top: 50px;
	padding-bottom: 30px;
	font-size: 1.25em;
	font-family: 'Questrial', sans-serif;
}

.menu{
	display: flex;
	justify-content: space-between;
}

.title{
	font-family: 'Permanent Marker', cursive;
	font-size: 1.75em;
}

.link{
	padding-top: 20px;
}

.bottom{
	/* padding-top: 20px; */
	font-size: 0.75em;
}

h2{
	text-align: center;
	font-family: 'Permanent Marker', cursive;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

hr{
  border-top: 2px solid black;
	border-color: coral;
}

body{
	font-family: 'Questrial', sans-serif;
	background-color: white;
}

img{
   max-height: 100%;
}​

/* unvisited link */
a:link{
	color: black;
	text-decoration: none;
}
/* visited link */
a:visited{
	color: black;
	text-decoration: none;
}
/* mousing over link */
a:hover{
  color: coral;
	text-decoration: none;
}

a:active{
	color: black;
	text-decoration: none;
}
