#container {
	width:100%; /*The container will try to fill the entire browser window width*/
	height: 2000px ;
	max-width:1080px; /*the maximum width the container will grow to*/
	/*height:960px;*/
	margin:0px auto; /*This line of code is the key.  0px margin top and bottom, auto margin left and right to center*/
	background-color:rgb(225,225,225);
	padding:0px;
	box-sizing:border-box;/*Makes it so that padding does not add to a box's total width*/

  	display: grid;
  	grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
 	/* grid-template-columns: repeat(8, 12.5%);*/
  	/*grid-template-rows: 20% 20% 20% 20% 20%;*/
}

.fullbox{
	background-color:rgb(200,200,200);
	margin:10px;
	padding:20px;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
	grid-column-end: span 8;
}

.halfbox{
	background-color:rgb(200,200,200);
	margin:10px;
	padding:20px;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
	grid-column-end: span 4;
}

.quarterbox{
	background-color:rgb(200,200,200);
	margin:10px;
	padding:20px;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
	grid-column-end: span 2;
}

.eighthbox{
	background-color:rgb(200,200,200);
	margin:10px;
	padding:20px;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
	grid-column-end: span 1;
}

.eighthboxtall{
	background-color:rgb(200,200,200);
	margin:10px;
	padding:20px;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
	grid-column-end: span 1;
	grid-row-end: span 2;
}

h2{
	text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav{
	/* position: fixed; */
	max-width:1080px;
	width:100%;
	margin:0px auto;
	padding-top: 10px;
	font-size: 1.25em;
	font-family: 'Questrial', sans-serif;
}

.menu{
	display: flex;
	justify-content: space-between;
}

.title{
	font-family: 'Permanent Marker', cursive;
	font-size: 1.75em;
	/* padding: 10px; */
}

hr{
  border-top: 2px solid black;
}

body{
	font-family: Helvetica, sans-serif;
	background-color: white;
}
